* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  font-weight: 400;
}

.gradient-border {
  border-image-slice: 1;
  border-top: 0;
  border-image-source: linear-gradient(
    170deg,
    rgba(255, 102, 0, 0) 39.73%,
    #ff6600 97.72%
  );
}

.cursor-pointer {
  cursor: pointer;
}

.secondary-color {
  color: #ff6600;
}

body {
  overflow-y: overlay;
}
